#menu{
    background: rgba(255,255,255,255);
}

#imgLogo{
	width: 30px;
	height: 30px;
}

#but{
	margin-left: 50px;

}

#icono{
	padding-left: 50px;
}

#navbarNavAltMarkup{

	text-indent: 6.2em;
	margin-left: -50px;

}

p.text-secondary {
	width: auto;
	text-align: justify;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding: 5px;
}

/* Sticking navbar */

.container-fluid{

	position: sticky;
	top: 0;
	z-index: 2;
	padding: 0;


}

	
